APP_HOST=127.0.0.1
APP_PORT=8100
FRONTEND_ORIGIN=http://127.0.0.1:5173

AUTH_SERVICE_URL=http://127.0.0.1:8000
PROTECTED_API_URL=http://127.0.0.1:8200
PROTECTED_API_AUDIENCE=sample-protected-api

COOKIE_ACCESS_NAME=sample_access_token
COOKIE_REFRESH_NAME=sample_refresh_token
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
COOKIE_DOMAIN=
ACCESS_COOKIE_MAX_AGE_SECONDS=900
REFRESH_COOKIE_MAX_AGE_SECONDS=604800
